.hell0 {
  width: 500px;
}

div {
  border: 1px solid #123;
}

.center {
  margin: 0 auto;
  width: 500px;
}

.left {
  position: absolute;
  left: 50%;
  margin-left: 250px;
}

.right {
  position: absolute;
  right: 50%;
  margin-right: 250px;
}

.r {
  margin: 0 auto;
  width: 200px;
}
